.gallery {
  position: relative;
  margin: var(--spacing) auto;
  max-width: 768px;
  background: var(--tertiary);
}

.header {
  margin: 0;
  overflow: hidden; // contain child margins
  text-align: center;
}

  .title {}

  .tagline {}

.main {}

.navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  margin: var(--spacing);
  padding: var(--spacing);
  -webkit-appearance: none;
  border: 0;
  background: var(--tertiary);

  &--is-active {
    background: var(--primary);
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--spacing);
  background: var(--secondary);

  &--is-hidden {
    display: none;
  }
}

.description {
  position: absolute;
  left: 50%;
  bottom: 10%;
  padding: var(--spacing);
  transform: translateX(-50%);
  background: inherit;
}
