:root {
  --primary: #3c3c3c;
  --secondary: #fff;
  --tertiary: #c3c3c3;

  --spacing: 1rem;

  --font-size: 1rem;

  --debug: red;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('assets/comic-sans.woff');
}

@import './styles/global';
@import './styles/gallery';
@import './styles/slider';
